<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creativecampus.mappers.FavoriteTypesMapper">
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.FavoriteTypes">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from favorite_types
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.FavoriteTypes">
    insert into favorite_types (id, name, description
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.FavoriteTypes">
    update favorite_types
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, description
    from favorite_types
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description
    from favorite_types
  </select>
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.FavoriteTypes">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from favorite_types
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.FavoriteTypes">
    insert into favorite_types (id, name, description
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.FavoriteTypes">
    update favorite_types
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, description
    from favorite_types
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description
    from favorite_types
  </select>
</mapper>