<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creativecampus.mappers.TeacherFavoriteCollectionContentsMapper">
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="collection_id" jdbcType="BIGINT" property="collectionId" />
    <result column="content_id" jdbcType="BIGINT" property="contentId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher_favorite_collection_contents
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    insert into teacher_favorite_collection_contents (id, collection_id, content_id, 
      creation_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{collectionId,jdbcType=BIGINT}, #{contentId,jdbcType=BIGINT}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    update teacher_favorite_collection_contents
    set collection_id = #{collectionId,jdbcType=BIGINT},
      content_id = #{contentId,jdbcType=BIGINT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, collection_id, content_id, creation_time, update_time
    from teacher_favorite_collection_contents
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, collection_id, content_id, creation_time, update_time
    from teacher_favorite_collection_contents
  </select>
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="collection_id" jdbcType="BIGINT" property="collectionId" />
    <result column="content_id" jdbcType="BIGINT" property="contentId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher_favorite_collection_contents
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    insert into teacher_favorite_collection_contents (id, collection_id, content_id, 
      creation_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{collectionId,jdbcType=BIGINT}, #{contentId,jdbcType=BIGINT}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollectionContents">
    update teacher_favorite_collection_contents
    set collection_id = #{collectionId,jdbcType=BIGINT},
      content_id = #{contentId,jdbcType=BIGINT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, collection_id, content_id, creation_time, update_time
    from teacher_favorite_collection_contents
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, collection_id, content_id, creation_time, update_time
    from teacher_favorite_collection_contents
  </select>
</mapper>