<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creativecampus.mappers.TeacherFavoriteCollectionMapper">
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="favorite_type_id" jdbcType="BIGINT" property="favoriteTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher_favorite_collections
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    insert into teacher_favorite_collections (id, teacher_id, favorite_type_id, 
      name, creation_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, #{favoriteTypeId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    update teacher_favorite_collections
    set teacher_id = #{teacherId,jdbcType=BIGINT},
      favorite_type_id = #{favoriteTypeId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, teacher_id, favorite_type_id, name, creation_time, update_time
    from teacher_favorite_collections
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, teacher_id, favorite_type_id, name, creation_time, update_time
    from teacher_favorite_collections
  </select>
  <resultMap id="BaseResultMap" type="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="favorite_type_id" jdbcType="BIGINT" property="favoriteTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher_favorite_collections
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    insert into teacher_favorite_collections (id, teacher_id, favorite_type_id, 
      name, creation_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, #{favoriteTypeId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creativecampus.commons.domain.TeacherFavoriteCollection">
    update teacher_favorite_collections
    set teacher_id = #{teacherId,jdbcType=BIGINT},
      favorite_type_id = #{favoriteTypeId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, teacher_id, favorite_type_id, name, creation_time, update_time
    from teacher_favorite_collections
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, teacher_id, favorite_type_id, name, creation_time, update_time
    from teacher_favorite_collections
  </select>
</mapper>